<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-strain-heading" data-cy="StrainCreateUpdateHeading" jhiTranslate="mycoNotesApp.strain.home.createOrEditLabel">
        Create or edit a Strain
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.strain.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.strain.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.strain.isolatedAt" for="field_isolatedAt">Isolated At</label>
          <div class="input-group">
            <input
              id="field_isolatedAt"
              data-cy="isolatedAt"
              type="text"
              class="form-control"
              name="isolatedAt"
              ngbDatepicker
              #isolatedAtDp="ngbDatepicker"
              formControlName="isolatedAt"
            />
            <button type="button" class="btn btn-secondary" (click)="isolatedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('isolatedAt')!.invalid && (editForm.get('isolatedAt')!.dirty || editForm.get('isolatedAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isolatedAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.strain.species" for="field_species">Species</label>
          <select
            class="form-control"
            id="field_species"
            data-cy="species"
            name="species"
            formControlName="species"
            [compareWith]="compareSpecies"
          >
            <option *ngIf="!editForm.get('species')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="speciesOption" *ngFor="let speciesOption of speciesSharedCollection">{{ speciesOption.name }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['species'])!.invalid && (editForm.get(['species'])!.dirty || editForm.get(['species'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['species'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.strain.origin" for="field_origin">Origin</label>
          <select
            class="form-control"
            id="field_origin"
            data-cy="origin"
            name="origin"
            formControlName="origin"
            [compareWith]="compareExperiment"
          >
            <option *ngIf="!editForm.get('origin')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="experimentOption" *ngFor="let experimentOption of experimentsSharedCollection">
              {{ experimentOption.title }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['origin'])!.invalid && (editForm.get(['origin'])!.dirty || editForm.get(['origin'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['origin'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
