<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tek">
      <h2 data-cy="tekDetailsHeading"><span jhiTranslate="mycoNotesApp.tek.detail.title">Tek</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tek.id }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.tek.title">Title</span></dt>
        <dd>
          <span>{{ tek.title }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.tek.description">Description</span></dt>
        <dd>
          <span>{{ tek.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tek', tek.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <button
        type="submit"
        [routerLink]="['/image']"
        [queryParams]="{ 'filter[tekId.in]': tek.id }"
        class="btn btn-info"
        data-cy="filterOtherEntityButton"
      >
        <fa-icon icon="eye"></fa-icon>
        <span
          class="d-none d-md-inline"
          jhiTranslate="entity.action.show"
          [translateValues]="{ otherEntity: ('mycoNotesApp.tek.images' | translate) }"
          >Show Image</span
        >
      </button>
    </div>
  </div>
</div>
