<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="instruction">
      <h2 data-cy="instructionDetailsHeading"><span jhiTranslate="mycoNotesApp.instruction.detail.title">Instruction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ instruction.id }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.instruction.title">Title</span></dt>
        <dd>
          <span>{{ instruction.title }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.instruction.description">Description</span></dt>
        <dd>
          <span>{{ instruction.description }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.instruction.instructionSet">Instruction Set</span></dt>
        <dd>
          <div *ngIf="instruction.instructionSet">
            <a [routerLink]="['/tek', instruction.instructionSet.id, 'view']">{{ instruction.instructionSet.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/instruction', instruction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
