<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-observation-heading"
        data-cy="ObservationCreateUpdateHeading"
        jhiTranslate="mycoNotesApp.observation.home.createOrEditLabel"
      >
        Create or edit a Observation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.observation.observationDate" for="field_observationDate"
            >Observation Date</label
          >
          <div class="input-group">
            <input
              id="field_observationDate"
              data-cy="observationDate"
              type="text"
              class="form-control"
              name="observationDate"
              ngbDatepicker
              #observationDateDp="ngbDatepicker"
              formControlName="observationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="observationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('observationDate')!.invalid &&
              (editForm.get('observationDate')!.dirty || editForm.get('observationDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('observationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.observation.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.observation.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mycoNotesApp.observation.experiment" for="field_experiment">Experiment</label>
          <select
            class="form-control"
            id="field_experiment"
            data-cy="experiment"
            name="experiment"
            formControlName="experiment"
            [compareWith]="compareExperiment"
          >
            <option *ngIf="editForm.get(['experiment'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="experimentOption" *ngFor="let experimentOption of experimentsSharedCollection">
              {{ experimentOption.title }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['experiment'])!.invalid && (editForm.get(['experiment'])!.dirty || editForm.get(['experiment'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['experiment'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
