<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="mycoNotesApp.image.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mycoNotesApp.image.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="mycoNotesApp.image.home.createLabel"> Create a new Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="mycoNotesApp.image.home.search">Search for Image</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'mycoNotesApp.image.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
    <span jhiTranslate="mycoNotesApp.image.home.notFound">No Images found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="images && images.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.title">Title</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.description">Description</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.image">Image</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="observation.title">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.observation">Observation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="strain.name">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.strain">Strain</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instruction.title">
            <div class="d-flex">
              <span jhiTranslate="mycoNotesApp.image.instruction">Instruction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of images; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
          </td>
          <td>{{ image.title }}</td>
          <td>{{ image.description }}</td>
          <td>
            <a *ngIf="image.image" (click)="openFile(image.image, image.imageContentType)">
              <img [src]="'data:' + image.imageContentType + ';base64,' + image.image" style="max-height: 30px" alt="image image" />
            </a>
            <span *ngIf="image.image">{{ image.imageContentType }}, {{ byteSize(image.image) }}</span>
          </td>
          <td>
            <div *ngIf="image.observation">
              <a [routerLink]="['/observation', image.observation.id, 'view']">{{ image.observation.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="image.strain">
              <a [routerLink]="['/strain', image.strain.id, 'view']">{{ image.strain.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="image.instruction">
              <a [routerLink]="['/instruction', image.instruction.id, 'view']">{{ image.instruction.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="images && images.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
