<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="genus">
      <h2 data-cy="genusDetailsHeading"><span jhiTranslate="mycoNotesApp.genus.detail.title">Genus</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ genus.id }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.genus.name">Name</span></dt>
        <dd>
          <span>{{ genus.name }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.genus.commonName">Common Name</span></dt>
        <dd>
          <span>{{ genus.commonName }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.genus.description">Description</span></dt>
        <dd>
          <span>{{ genus.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/genus', genus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
