<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="species">
      <h2 data-cy="speciesDetailsHeading"><span jhiTranslate="mycoNotesApp.species.detail.title">Species</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ species.id }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.species.genus">Genus</span></dt>
        <dd>
          <div *ngIf="species.genus">
            <a [routerLink]="['/genus', species.genus.id, 'view']">{{ species.genus.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.species.name">Name</span></dt>
        <dd>
          <span>{{ species.name }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.species.commonName">Common Name</span></dt>
        <dd>
          <span>{{ species.commonName }}</span>
        </dd>
        <dt><span jhiTranslate="mycoNotesApp.species.description">Description</span></dt>
        <dd>
          <span>{{ species.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/species', species.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
